.item {
  padding: 8px;

  &__image {
    max-width: 72px;
    max-height: 72px;
    box-sizing: border-box;
    margin-bottom: 24px;
  }

  &__icon {
    width: 100%;
  }

  &__title {
    font-weight: 400;
    font-size: 23px;
    line-height: 62px;
    letter-spacing: -0.01em;
    color: #2D314E;
  }

  &__description {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.04em;
    color: #959499;
  }
}