.article {
  width: 25%;
  height: 399px;

  &__image {
    width: 100%;
    height: 195px;
  }

  &__photo {
    width: 100%;
  }

  &__info {
    padding: 34px 26px 19px 26px;
  }

  &__author {
    font-weight: 400;
    font-size: 10px;
    line-height: 18px;
    letter-spacing: -0.02em;
    color: #959499;
  }

  &__title {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.02em;
    color: #2D314E;
    margin: 6px 0;
  }

  &__content {
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -0.02em;
    color: #959499;
  }
}